@model IEnumerable<CertificateViewModel>

<ul>
    @foreach (var certificate in Model)
    {
        <li>@certificate.Serial @certificate.Number  - @certificate.Firstname @certificate.Lastname @certificate.Middlename 
            <a asp-controller="Certificates" asp-action="DetailsAsync" asp-route-id="@certificate.Id"> Edit</a></li>
    }
</ul>
<a asp-controller="Certificates" asp-action="Create">Create</a>